body {
	background-color: #000
}

#app {
	font-family: courier, monospace;
	color: #fff;
	width:80%;
	margin-left:auto;
	margin-right:auto;
	margin-top:100px;
	font-size:14px;
}




a {
	color: #0bc;
	text-decoration: none;
}

#white {
	color: #fff;
	font-size: 14px;
	padding-right:30px;
}

#green {
	color: #0f0;
}

#blue {
	color:#3b6ab5;
	padding-right:30px;
	font-size:14px;
	font-weight: 900;

}

.teal {
	color:#0bc;
	padding-right:30px;
	font-size:14px;
	font-weight: 900;
}

#c {
	color: #0bc;
}

#b {
	color: #ff0096;
}

#k {
    	animation: change 1s;
}

#op{
    	color: #888888
}

@keyframes change {
    	0%  { color:  #0f0; }
    	50% { color:  #0f0; }
    	99% { color: black; }
}
